/* Colors module
============================================================
========================================================= */

// Primary
$blue: #63cbff;
$facebook: #438acb;
$twitter: #5cbde9;

// Elements
$body: #2d2d2d;