/* Start of styles | Defaults
============================================================
========================================================= */
html, body { width: 100%; } 

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: em(16);
    color: #f0f0f0;
    background: $body;
}

sup, sub { font-size: 75%; line-height: 0; vertical-align: baseline; }
sup { top: -0.5em; left: 0.15em; }
sub { bottom: -0.25em; }
strong { font-weight: 700; }

a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

canvas { display: block; vertical-align: bottom; }
